body {
    background-image:
        url(C:/Users/Jenni/UNCCDABC/Projects/russian-troll-project-js/Images/Twitter.png);
}

.container {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #413952;
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.jumbotron {
    color: white;
    background: linear-gradient(to right, #BF0A30, #002868) ;
}

h1 {
    margin-bottom: 20px;
}